html, body{
    height: 100%;
    margin:0;
    padding:0;
}

.carousel-item {
    height: 60vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption, .carousel-item{
    padding-bottom: 10%;
}
/* ----------------------------------------------------------------------- */

#vagas{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -12%;
}

#texto-vagas {
    width: 40%;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8%;
}

#sobre{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: right;
    margin-top: 6%;;
}

#texto-sobre {
    width: 40%;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 60%;
}

/* ----------------------------------------------------------------------- */

#empresario{
    position: relative;
    margin-right: -7%;
    margin-top: -52%;
    transform: scale(0.8);
}

#estagiario{
    position: relative;
    margin-left: -65%;
    margin-top: -83%;
    transform: scale(0.28);
}

button{
    margin-top: -690px;
}

/* ----------------------------------------------------------------------- */

.footer{
    margin-top: 3%;
    position: absolute;
    width: 100%;
    height: 6%;
    background-color: #12335E;
    margin-left: 0;
}

#texto-footer{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}