<!DOCTYPE html>
<html lang="pt-BR">

<head>
<%- include('head'); %>
<link rel="stylesheet" href="style/cadastro.css">
</head>

<body class="body">
    <p align="left"><a href="/"><button type="button" class="btn btn-outline-light" id="voltar">Voltar</button></a></p>
    <img src="img/imgbloco2.png" alt="imagem">

    <div class="bloco">
    <form method="POST" action="/anunciante" enctype="multipart/form-data">
        <h4>Área de cadastro</h4>
        <h5><p class="text-center" style="color: brown;"><%= mensagem %></p></h5>
            <div class="form-group">
                <label for="Nome">Anunciante:</label><br>
                <p align="center"><input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome" required></p>
            </div>

            <div class="form-group">
                <label for="email">E-mail:</label><br>
                <p align="center"><input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" name="email" required></p>
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label><br>
                <p align="center"><input type="password" class="form-control" id="senha" placeholder="Digite uma senha" name="senha" required></p>
            </div>

            <div class="form-group">
                <label for="foto">Foto de perfil (Opcional):</label><br>
                <p align="center"><input type="file" class="form-control-sm" name="imagem"></p>
            </div><br>

            <p align="center"><input class='btn btn-outline-info btn-lg' type="submit" name="submit" value="⠀⠀⠀Cadastrar-se⠀⠀⠀"></p>
    </form>

    <p align="center">Já é um anunciante? <a href="/login"><span>logar-se agora.</span></a></p> 
</div>

</body>
</html>