<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/style/confirmaCandidatura.css">
</head>

<body>
    <h1>
        <p class="text-center">JORSOURCE</p>
    </h1>

    <div class="container">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <p align="center"><lottie-player src="https://assets3.lottiefiles.com/packages/lf20_5gstlg6x.json"  background="transparent"  speed="0.8"  style="width: 300px; height: 300px; margin-bottom: -80px;"  loop autoplay></lottie-player></p>
        <% for (var i = 0; i < vaga.length; i++) { %>
            <h3><p class="text-center">Parabéns! Você se inscreveu corretamente à vaga <span class="badge badge-success"><%= vaga[i]["titulo"] %></span></p></h3>
        <% } %>        
    </div>

    <a href="/vagas"><p class="text-center"><button type="button" class="btn-lg btn-outline-light mt-5" id="voltar">Continuar Navegando</button></p></a>
</body>

</html>