<link rel="stylesheet" href="/style/nav.css">

<div class="container-lg">
    <nav class="navbar bg-light">
        <a class="navbar-brand" href="/">JOBSOURCE</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><button type="button" class="btn btn-info" style="margin-top: 4px;">Início</button></a>
            </li>
          </ul>
    </nav>
</div>